APP_MODE=fumapgo
LINE_CHANNEL_ID=your_fumapgo_channel_id
LINE_CHANNEL_SECRET=your_fumapgo_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_fumapgo_channel_access_token
FGO_BASE_URL=https://fumapgo.onrender.com
FGO_INTERNAL_SECRET=FGO_INTERNAL_2026_CHANGE_ME
TZ=Asia/Taipei
